.Entry {
    padding: 0 2rem;
    border-bottom: 1px solid #000;
    width: 100%;
    height: 60px;
    font-size: 2rem;
    
    &__date {
        
        font-weight: bold;
        text-transform: uppercase;
    }
}