.EntryList {

    &__header {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1.5rem 0 0;
        font-size: 3rem;
        position: relative;
        z-index: 100;
    }

    &__link {
        
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: #000;
        cursor: pointer;
    }

    &__linkButton {
        background-color: rgb(139, 224, 83);
        padding: 1rem;
        border-radius: 50%;
        display: inline-block;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin-right: 1rem;
    }

    &__body {
        position: absolute;
        top: 60px;
        left: 60px;
        right: 0;
        bottom: 30px;
        z-index: 3;
        overflow-y: auto;
        line-height: 30px;
    }
}